<section style="background-color: black;">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');

    *,
    *:before,
    *:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    body {
      margin: 0;
    }

    .wk-desk-1 { width: 8.333333%; }
    .wk-desk-2 { width: 16.666667%; }
    .wk-desk-3 { width: 25%; }
    .wk-desk-4 { width: 33.333333%; }
    .wk-desk-5 { width: 41.666667%; }
    .wk-desk-6 { width: 50%; }
    .wk-desk-7 { width: 58.333333%; }
    .wk-desk-8 { width: 66.666667%; }
    .wk-desk-9 { width: 75%; }
    .wk-desk-10 { width: 83.333333%; }
    .wk-desk-11 { width: 91.666667%; }
    .wk-desk-12 { width: 100%; }

    @media (max-width: 1024px) {
      .wk-ipadp-1 { width: 8.333333%; }
      .wk-ipadp-2 { width: 16.666667%; }
      .wk-ipadp-3 { width: 25%; }
      .wk-ipadp-4 { width: 33.333333%; }
      .wk-ipadp-5 { width: 41.666667%; }
      .wk-ipadp-6 { width: 50%; }
      .wk-ipadp-7 { width: 58.333333%; }
      .wk-ipadp-8 { width: 66.666667%; }
      .wk-ipadp-9 { width: 75%; }
      .wk-ipadp-10 { width: 83.333333%; }
      .wk-ipadp-11 { width: 91.666667%; }
      .wk-ipadp-12 { width: 100%; }
    }

    @media (max-width: 768px) {
      .wk-tab-1 { width: 8.333333%; }
      .wk-tab-2 { width: 16.666667%; }
      .wk-tab-3 { width: 25%; }
      .wk-tab-4 { width: 33.333333%; }
      .wk-tab-5 { width: 41.666667%; }
      .wk-tab-6 { width: 50%; }
      .wk-tab-7 { width: 58.333333%; }
      .wk-tab-8 { width: 66.666667%; }
      .wk-tab-9 { width: 75%; }
      .wk-tab-10 { width: 83.333333%; }
      .wk-tab-11 { width: 91.666667%; }
      .wk-tab-12 { width: 100%; }
    }

    @media (max-width: 500px) {
      .wk-mobile-1 { width: 8.333333%; }
      .wk-mobile-2 { width: 16.666667%; }
      .wk-mobile-3 { width: 25%; }
      .wk-mobile-4 { width: 33.333333%; }
      .wk-mobile-5 { width: 41.666667%; }
      .wk-mobile-6 { width: 50%; }
      .wk-mobile-7 { width: 58.333333%; }
      .wk-mobile-8 { width: 66.666667%; }
      .wk-mobile-9 { width: 75%; }
      .wk-mobile-10 { width: 83.333333%; }
      .wk-mobile-11 { width: 91.666667%; }
      .wk-mobile-12 { width: 100%; }
    }

    .contact_us_2 .text-blk {
      margin: 0;
      line-height: 25px;
    }

    .contact_us_2 .responsive-cell-block {
      min-height: 75px;
    }

    .contact_us_2 input:focus {
      outline: none;
    }

    .contact_us_2 .container-block {
      min-height: 75px;
      width: 100%;
      padding: 10px;
      display: block;
    }

    .contact_us_2 .submit-btn:hover {
      background-color: #06c3b0;
    }

    .contact_us_2 .responsive-container-block {
      min-height: 75px;
      height: fit-content;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0 auto 50px;
      padding: 0;
    }

    .contact_us_2 .responsive-container-block.big-container {
      padding: 10px 30px;
      position: relative;
      height: auto;
    }

    .contact_us_2 .responsive-container-block.container {
      position: static;
      min-height: 75px;
      flex-direction: column;
      z-index: 2;
      max-width: 800px;
      margin: 0 auto 50px;
    }

    .contact_us_2 .container-block.form-wrapper {
      background-color: black;
      max-width: 799px;
      text-align: center;
      padding: 10px 40px 50px;
      box-shadow: 0 4px 20px 7px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      margin: 0 auto;
    }

    .contact_us_2 .text-blk.contactus-head {
      font-size: 36px;
      line-height: 50px;
      font-weight: 900;
    }

    .contact_us_2 .text-blk.contactus-subhead {
      color: #9c9c9c;
      margin-bottom: 50px;
    }

    .contact_us_2 .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
      margin-bottom: 26px;
      min-height: 50px;
    }

    .contact_us_2 .input {
      width: 96%;
      height: 50px;
      padding: 1px 15px;
      border: 2px solid #eeeeee;
      font-size: 16px;
      color: black;
      border-radius: 4px;
      animation: slideUp 0.8s ease-out forwards;
      opacity: 0;
    }

    .contact_us_2 .textinput {
      width: 98%;
      min-height: 150px;
      padding: 20px 15px;
      border: 2px solid #eeeeee;
      font-size: 16px;
      border-radius: 4px;
      animation: slideUp 0.8s ease-out forwards;
      opacity: 0;
    }

    /* Staggered animation delays for form fields */
    .contact_us_2 .responsive-cell-block:nth-child(1) .input { animation-delay: 0.1s; }
    .contact_us_2 .responsive-cell-block:nth-child(2) .input { animation-delay: 0.2s; }
    .contact_us_2 .responsive-cell-block:nth-child(3) .input { animation-delay: 0.3s; }
    .contact_us_2 .responsive-cell-block:nth-child(4) .input { animation-delay: 0.4s; }
    .contact_us_2 .responsive-cell-block:nth-child(5) .textinput { animation-delay: 0.5s; }

    .contact_us_2 .submit-btn {
      width: 98%;
      background-color: #03a9f4;
      height: 60px;
      font-size: 20px;
      font-weight: 700;
      color: white;
      border: 0;
      border-radius: 4px;
      cursor: pointer;
    }

    .contact_us_2 .form-box {
      margin: 0 auto;
    }

    .contact_us_2 .social-media-links {
      width: 250px;
      display: flex;
      justify-content: space-evenly;
      margin: 50px auto 0;
    }

    .contact_us_2 .link-img {
      width: 30px;
      height: 30px;
    }

    .contact_us_2 .text-blk.input-title {
      text-align: left;
      padding-left: 10px;
      font-size: 14px;
      margin-bottom: 5px;
      color: #9c9c9c;
    }

    .contact_us_2 ::placeholder {
      color: #dadada;
    }

    .contact_us_2 .blueBG {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      height: 300px;
      background-color: #06c3b0;
    }

    .title {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
    }

    .title span {
      background: linear-gradient(to right, #00aaff, #ff4e50);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .social-icons {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      gap: 25px;
    }

    .social-icons a {
      text-decoration: none;
      transition: transform 0.3s ease-in-out;
    }

    .social-icons i {
      font-size: 36px;
      color: rgb(120 120 120 / 69%);
    }

    .social-icons a:hover {
      transform: scale(1.2);
    }

    .social-icons .linkedin:hover i { color: #0077b5; }
    .social-icons .github:hover i { color: #333; }
    .social-icons .twitter:hover i { color: #1da1f2; }
    .social-icons .instagram:hover i { color: #e4405f; }
    .social-icons .youtube:hover i { color: #ff0000; }

    @keyframes slideUp {
      from {
        transform: translateY(50px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @media (max-width: 768px) {
      .contact_us_2 .submit-btn { width: 100%; }
      .contact_us_2 .input { width: 100%; }
      .contact_us_2 .textinput { width: 100%; }
      .contact_us_2 .container-block.form-wrapper { margin-top: 80px; }
      .contact_us_2 .text-blk.input-title { padding-left: 0; }
      .contact_us_2 .responsive-container-block.container { margin: 80px 0 50px; }
      .contact_us_2 .container-block.form-wrapper { margin: 0; }
      .contact_us_2 .text-blk.contactus-head { font-size: 30px; line-height: 40px; }
    }

    @media (max-width: 500px) {
      .contact_us_2 .container-block.form-wrapper { padding: 50px 15px; }
      .contact_us_2 .container-block.form-wrapper { margin-top: 60px; }
      .contact_us_2 .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 { margin-bottom: 15px; }
      .contact_us_2 .responsive-container-block { margin-bottom: 35px; }
      .contact_us_2 .text-blk.input-title { font-size: 12px; }
      .contact_us_2 .responsive-container-block.container { margin: 50px 0; }
      .contact_us_2 .container-block.form-wrapper { margin: 0; }
      .contact_us_2 .responsive-container-block.big-container { padding: 10px 20px; }
      .contact_us_2 .text-blk.contactus-head { font-size: 26px; line-height: 34px; }
      .contact_us_2 .input { height: 45px; }
    }
  </style>

  <div class="contact_us_2">
    <app-header></app-header>
    <br><br><br>
    <h1 class="title"><span>Contact</span></h1>
    <div class="responsive-container-block big-container">
      <div class="responsive-container-block container">
        <form class="form-box">
          <div class="container-block form-wrapper" style="padding: 0px;">
            <div class="responsive-container-block">
              <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6" id="i10mt">
                <p class="text-blk input-title">FIRST NAME</p>
                <input class="input" id="ijowk" name="FirstName" placeholder="Please enter first name...">
              </div>
              <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                <p class="text-blk input-title">LAST NAME</p>
                <input class="input" id="indfi" name="Last Name" placeholder="Please enter last name...">
              </div>
              <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                <p class="text-blk input-title">EMAIL</p>
                <input class="input" id="ipmgh" name="Email" placeholder="Please enter email...">
              </div>
              <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                <p class="text-blk input-title">PHONE NUMBER</p>
                <input class="input" id="imgis" name="PhoneNumber" placeholder="Please enter phone number...">
              </div>
              <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i634i">
                <p class="text-blk input-title">WHAT DO YOU HAVE IN MIND</p>
                <textarea class="textinput" id="i5vyy" placeholder="Please enter query..."></textarea>
              </div>
            </div>
            <button class="submit-btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/perivi-harikrishna-ab633324a/" target="_blank" class="linkedin">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://github.com/perivi8" target="_blank" class="github">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://x.com/periviharikrish?s=21" target="_blank" class="twitter">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="https://www.instagram.com/toxic_hari_2002?igsh=MWJiaGY4Z3JlcGtwOQ%3D%3D&utm_source=qr" target="_blank" class="instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.youtube.com/@NOOBS-777" target="_blank" class="youtube">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
  </div>
  <app-footer></app-footer>
</section>