/* Social Icons - Centered Below */
.social-icons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* Social Icons Hover Effects */
.social-icons a {
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.social-icons i {
    font-size: 36px;
    color: rgb(120 120 120 / 69%);
}

/* Hover Animations */
.social-icons a:hover {
    transform: scale(1.2);
}

.social-icons .linkedin:hover i {
    color: #0077b5;
}

.social-icons .github:hover i {
    color: #333;
}

.social-icons .twitter:hover i {
    color: #1da1f2;
}

.social-icons .instagram:hover i {
    color: #e4405f;
}

.social-icons .youtube:hover i {
    color: #ff0000;
}