<!-- header.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
    <div class="container">
      <a class="navbar-brand float-text" style="color: white;" routerLink="/">PERIVI</a>
      <!-- Navbar Toggler (Hamburger menu) -->
      <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar Links (collapsible part) -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto font" style="margin: auto; gap: 40px;">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" style="color: white;" routerLink="/home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" style="color: white;" routerLink="/about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" style="color: white;" routerLink="/skills">SKILLS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" style="color: white;" routerLink="/experiences">EXPERIENCES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" style="color: white;" routerLink="/certification">CERTIFICATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" style="color: white;" routerLink="/projects">PROJECTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" style="color: white;" routerLink="/contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
